#header{
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0px 30px;
  box-sizing: border-box;
  margin-bottom: 40px;
  .lc {

    .logo {
      font-size: rem(30);
      line-height: calc(35/30);
      .green {
        font-weight: bold;
        color: $green;
        letter-spacing: rem(4.2);
        margin-right: 3px;
      }
    }
  }

  .rc {
    margin-left: auto;
    display: flex;
    align-items: center;
    .item {
      font-size: rem(16);
      line-height: calc(19/16);
      letter-spacing: rem(-0.43);
      margin-left: 30px;
      display: flex;
      &:first-child{
        margin-left: 0;
      }
      .link {
        position: relative;
        padding: 28px 0;
        cursor: pointer;
        text-decoration: none;
        span {
          display: flex;
        }
      }
      &.verification{
        .link{
          span{
            &:after{
              content: '';
              align-self: flex-start;
              display: block;
              background: red;
              width: 5px;
              height: 5px;
              border-radius: 100%;
              margin-left: 1px;
            }
          }
        }
      }
      &.active{
        .link{
          &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;
            background: $text;
          }
        }
      }
    }
  }
}