.popup{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  &_bg{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.29;
  }
  &_containerWrapper{
    pointer-events: none;
    position: relative;
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  &_container{
    background: #fff;
    border-radius: 2px;
    position: relative;
    pointer-events: all;
    box-sizing: border-box;
    min-width: 300px;
    position: relative;
    color: $text;
    max-width: 1000px;
  }
  &_header{
    display: flex;
    align-items: center;
    padding: 19px 15px 19px 20px;
    border-bottom: 1px solid $border_gray;
    &_title{
      font-size: rem(26);
      line-height: calc(30/26);
      letter-spacing: rem(-0.69);
      font-weight: bold;
      margin-right: auto;
    }
    &_close{
      width: 40px;
      height: 40px;
      position: relative;
      display: block;
      cursor: pointer;
      right: -13px;
      &:before,
      &:after{
        position: absolute;
        content: '';
        display: block;
        width: 17px;
        height: 2px;
        background: $text;
        transform-origin: 50% 50%;
        left: 50%;
        top: 50%;
      }
      &:after{
        transform: translate(-50%,-50%) rotate(45deg);
      }
      &:before{
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }
  }
  &_content{
    padding: 20px 20px 30px;
  }
}