<link rel="stylesheet" href="../css/includes/header.scss">
<div id="header">
    <div class="lc">
        <div class="logo">
            <span class="green">OTC</span>desk
        </div>
    </div>
    <div class="rc">
        <div class="item verification active">
            <div class="link">
                <span>Verification</span>
            </div>
        </div>
        <div class="item login">
            <div class="link">
                <span>Log out</span>
            </div>
        </div>
    </div>
</div>