<link rel="stylesheet" href="../css/includes/popup.scss">
<div class="popup">
    <div class="popup_bg"></div>
    <div class="popup_containerWrapper">
        <div class="popup_container">
            <div class="popup_header">
                <div class="popup_header_title">
                    USD TROLOLO
                </div>
                <div class="popup_header_close"></div>
            </div>
            <div class="popup_content">
                <p>123</p>
                <p>1234</p>
                <div class="button green">
                    Apply
                </div>
            </div>
        </div>
    </div>
</div>