<div class="stepBlock">
    <div class="stepBlock_content">
        <div class="inputBlock">
            <div class="inputBlock_name">
                First name
            </div>
            <input placeholder="0" type="text">
            <div class="notice"></div>
        </div>
        <div class="inputBlock">
            <div class="inputBlock_name">
                Middle name
            </div>
            <input placeholder="0" type="text">
            <div class="notice"></div>
        </div>
        <div class="inputBlock">
            <div class="inputBlock_name">
                Last name
            </div>
            <input placeholder="0" type="text">
            <div class="notice"></div>
        </div>
        <div class="row">
            <div class="col col50">
                <div class="inputBlock">
                    <div class="inputBlock_name">
                        E-mail
                    </div>
                    <input placeholder="0" type="text">
                    <div class="notice"></div>
                </div>
            </div>
            <div class="col col50">
                <div class="inputBlock">
                    <div class="inputBlock_name">
                        Telephone
                    </div>
                    <input placeholder="0" type="text">
                    <div class="notice"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="button green large submitButton">
    CONTINUE
</div>