<div class="stepBlock">
    <div class="stepBlock_title">
        <div class="name">
            CONFIRM YOUR SEED PHRASE
        </div>
    </div>
    <div class="stepBlock_content">
        <div class="inputBlock">
            <div class="inputBlock_name">
                Enter your seed
            </div>
            <input placeholder="Enter your seed" type="text">
            <div class="notice"></div>
        </div>
    </div>
</div>
<div class="button green large submitButton">
    CONFIRM
</div>