<div class="stepBlock">
    <div class="stepBlock_content">
        <p>
            We do not store your account data – only you have access to your funds. If you lose your account name or password, we will not be able to reset them for you.
        </p>
        <p>
            You can restore access to your account with a 15-word phrase called a “seed phrase” or “seed”. This phrase is tied to your account. Using the seed, you can access your account on any device or restore access if you lose your password or device. Your seed is:
        </p>
        <div class="inputBlock">
            <input placeholder="(generated seed)" type="text">
            <div class="notice"></div>
        </div>
        <div class="grayDesc">
            We do not store your seed – if you lose it, there will be no option to restore access to your funds. Copy these 15 words to a safe place or write them down on paper. To make sure you have done this, you will need to confirm your seed on the next screen.
        </div>
    </div>
</div>
<div class="button green large submitButton">
    I’ve backed up my seed
</div>