$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
@function int_em($pixels, $context: $browser-context) {
  @return #{$pixels/$context};
}
@function lsem($ls, $fz) {
  @return #{$ls/$fz}rem;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}