$orange: #FF6C00;
$purple: #D329DC;
$blue: #0055ff;
$red: #EF5250;
$green: #27A69A;
$border_gray: #D8D8D8;
$text_gray: #A3A3A3;
$text: #37393F;

$blockMargin:15px;
$colMargin:20px;

$breakpoints: (phone: 767px, tablet: 1200px);