@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
  url('../../fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
  url('../../fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
  url('../../fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


//@font-face {
//    font-family: 'Roboto';
//  src: url('../../fonts/roboto/SuisseIntl-BookItalic.woff2') format('woff2'),
//  url('../../fonts/roboto/SuisseIntl-BookItalic.woff') format('woff');
//  font-weight: normal;
//  font-style: italic;
//}

//@font-face {
//  font-family: 'Roboto';
//  src: url('../../fonts/roboto/Roboto-Light.woff2') format('woff2'),
//  url('../../fonts/roboto/Roboto-Light.woff') format('woff');
//  font-weight: 300;
//  font-style: normal;
//}

//@font-face {
//    font-family: 'Roboto';
//  src: url('../../fonts/roboto/SuisseIntl-BlackItalic.woff2') format('woff2'),
//  url('../../fonts/roboto/SuisseIntl-BlackItalic.woff') format('woff');
//  font-weight: 900;
//  font-style: italic;
//}

//@font-face {
//  font-family: 'Roboto';
//    src: url('../../fonts/roboto/SuisseIntl-ThinItalic.woff2') format('woff2'),
//        url('../../fonts/roboto/SuisseIntl-ThinItalic.woff') format('woff');
//    font-weight: 100;
//    font-style: italic;
//}

//@font-face {
//    font-family: 'Roboto';
//  src: url('../../fonts/roboto/SuisseIntl-LightItalic.woff2') format('woff2'),
//  url('../../fonts/roboto/SuisseIntl-LightItalic.woff') format('woff');
//  font-weight: 300;
//  font-style: italic;
//}

//@font-face {
//  font-family: 'Roboto';
//    src: url('../../fonts/roboto/SuisseIntl-Medium.woff2') format('woff2'),
//        url('../../fonts/roboto/SuisseIntl-Medium.woff') format('woff');
//    font-weight: 500;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Roboto';
//  src: url('../../fonts/roboto/SuisseIntl-UltraLightItalic.woff2') format('woff2'),
//  url('../../fonts/roboto/SuisseIntl-UltraLightItalic.woff') format('woff');
//  font-weight: 100;
//  font-style: italic;
//}

//@font-face {
//  font-family: 'Roboto';
//    src: url('../../fonts/roboto/SuisseIntl-UltraLight.woff2') format('woff2'),
//        url('../../fonts/roboto/SuisseIntl-UltraLight.woff') format('woff');
//    font-weight: 100;
//    font-style: normal;
//}
//
//@font-face {
//    font-family: 'Roboto';
//  src: url('../../fonts/roboto/SuisseIntl-SemiBoldItalic.woff2') format('woff2'),
//  url('../../fonts/roboto/SuisseIntl-SemiBoldItalic.woff') format('woff');
//  font-weight: 600;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'Roboto';
//    src: url('../../fonts/roboto/SuisseIntl-BoldItalic.woff2') format('woff2'),
//        url('../../fonts/roboto/SuisseIntl-BoldItalic.woff') format('woff');
//    font-weight: bold;
//    font-style: italic;
//}

//@font-face {
//    font-family: 'Roboto';
//  src: url('../../fonts/roboto/SuisseIntl-Thin.woff2') format('woff2'),
//  url('../../fonts/roboto/SuisseIntl-Thin.woff') format('woff');
//  font-weight: 100;
//  font-style: normal;
//}


//
//@font-face {
//  font-family: 'Roboto';
//    src: url('../../fonts/roboto/SuisseIntl-Book.woff2') format('woff2'),
//        url('../../fonts/roboto/SuisseIntl-Book.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//}

//@font-face {
//    font-family: 'Roboto';
//  src: url('../../fonts/roboto/SuisseIntl-Black.woff2') format('woff2'),
//  url('../../fonts/roboto/SuisseIntl-Black.woff') format('woff');
//  font-weight: 900;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'Roboto';
//    src: url('../../fonts/roboto/SuisseIntl-Italic.woff2') format('woff2'),
//        url('../../fonts/roboto/SuisseIntl-Italic.woff') format('woff');
//    font-weight: normal;
//    font-style: italic;
//}
//
//@font-face {
//    font-family: 'Roboto';
//  src: url('../../fonts/roboto/SuisseIntl-MediumItalic.woff2') format('woff2'),
//  url('../../fonts/roboto/SuisseIntl-MediumItalic.woff') format('woff');
//  font-weight: 500;
//  font-style: italic;
//}
//
