body{
  font-family: "Roboto", Arial;
  background: #F6F6F6;
  color: $text;
}
.mainWrapper{
  overflow: hidden;
  padding-bottom: 15px;
}
.page{
  padding: 0 20px;
}
.layout1140{
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row{
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  box-sizing: border-box;
  .col{
    flex: 1 1 auto;
    margin: 0 8px;
    &.col50{
      flex: 1 1 50%;
    }
    &.col33{
      flex: 1 1 33.33333%;
    }
    &.colAuto{
      flex: 0.2 1 auto;
    }
  }
}
.fieldTitle{
  color: $text;
  font-size: rem(16);
  line-height: calc(19/16);
  letter-spacing: rem(-0.43);
  margin-bottom: 10px;
  font-weight: bold;
}

h1{
  font-size: rem(40);
  line-height: calc(47/40);
  letter-spacing: rem(-1.07);
}

p{
  font-size: rem(18);
  line-height: calc(21/18);
  letter-spacing: rem(-0.48);
  margin-bottom: $blockMargin;
  &:last-child{
    margin-bottom: 0;
  }
}

textarea{
  border: 1px solid $border_gray;
  resize: vertical;
  padding: 14px 12px;
  width: 100%;
  min-height: 45px;
  &::placeholder {
    color: transparentize($text_gray, 0.5);
  }
}

input[type='text'],
input[type='email'],
input[type='password']
{
  width: 100%;
  height: 50px;
  border: 1px solid $border_gray;
  padding: 0 12px;
  font-size: rem(18);
  line-height: calc(21/18);
  letter-spacing: rem(-0.48);
  &::placeholder {
    color: transparentize($text_gray, 0.5);
  }
}

.inputBlock{
  width: 100%;
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0;
  }
  &_name{
    color: $text;
    font-size: rem(16);
    line-height: calc(19/16);
    letter-spacing: rem(-0.43);
    margin-bottom: 10px;
    font-weight: bold;
  }
  input{
    width: 100%;
    height: 50px;
    border: 1px solid $border_gray;
    padding: 0 12px;
    font-size: rem(18);
    line-height: calc(21/18);
    letter-spacing: rem(-0.48);
    &::placeholder {
      color: transparentize($text_gray, 0.5);
    }
  }
  .notice{
    display: none;
    font-size: rem(10);
    line-height: 1;
    letter-spacing: rem(-0.27);
    color: red;
    padding: 8px 0;
    text-align: right;
  }
  &.invalid{
    input{
      border-color: red;
      &::placeholder {
        color: transparentize(red, 0.5);
      }
    }
    .notice{
      display: block;
      margin-bottom: -15px;
    }
  }
}

input[type='checkbox']{
  cursor: pointer;
}
.custom-radioboxWrapper,
.custom-checkboxWrapper{
  margin: 10px 0;
}
.custom-checkbox{
  $size: 20px;
  user-select: none;
  cursor: pointer;
  position:relative;
  display: inline-flex;
  align-items: flex-start;
  >input{
    position:absolute;
    outline:none;
    left:0;
    top:0;
    padding:0;
    width:$size;
    height:$size;
    border:none;
    margin:0;
    opacity:0;
    z-index:1;
    cursor: pointer;
  }
  label{
    margin-left: 10px;
    margin-top: -2px;
    display: inline-block;
    cursor: pointer;
    font-size: rem(18);
    line-height: calc(21/18);
    letter-spacing: rem(-0.48);
  }
  >.box{
    flex: 0 0 $size;
    position:relative;
    display:block;
    width:$size;
    height:$size;
    background-color: $text;
    >.tick{
      position:absolute;
      left: 5px;
      top: 6px;
      width: 10px;
      height: 6px;
      border-bottom:2px solid #fff;
      border-left:2px solid #fff;
      transform:rotate(-45deg);
      display:none;
    }
  }
  >input:checked+.box>.tick{
    display:block;
  }
  &.checked>.box>.tick{
    display:block;
  }
}

.custom-radiobox{
  $size: 18px;
  user-select: none;
  cursor: pointer;
  position:relative;
  display:inline-flex;
  align-items: flex-start;
  cursor: pointer;
  >input{
    position:absolute;
    outline:none;
    left:0;
    top:0;
    padding:0;
    width:$size;
    height:$size;
    border:none;
    margin:0;
    opacity:0;
    z-index:1;
    cursor: pointer;
  }
  label{
    margin-left: 10px;
    margin-top: -2px;
    display: inline-block;
    cursor: pointer;
    font-size: rem(18);
    line-height: calc(21/18);
    letter-spacing: rem(-0.48);
  }
  >.box{
    flex: 0 0 $size;
    position:relative;
    box-sizing: border-box;
    display:inline-block;
    width: $size;
    height: $size;
    border: 2px solid $text;
    background-color:#fff;
    border-radius: 100%;
    cursor: pointer;
    >.dot{
      position:absolute;
      background: #333333;
      width: calc(#{$size} - 8px);
      height: calc(#{$size} - 8px);
      border-radius: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      display: none;
    }
  }
  >input:checked+.box>.dot{
    display:block;
  }
  &.checked>.box>.dot{
    display:block;
  }
}

.button{
  width: 100%;
  background: #F5F5F5;
  font-size: rem(16);
  line-height: calc(19/16);
  letter-spacing: rem(-0.43);
  color: $text;
  padding: 11px 15px 10px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  margin: $blockMargin 0;
  text-decoration: none;
  &.small{
    width: auto;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    font-size: rem(14);
    line-height: calc(16/14);
    padding: 5px 10px 4px;
    flex: 0 1 auto;
  }
  &.large{
    padding: 21px 15px 20px;
    font-size: rem(20);
    line-height: calc(24/20);
    letter-spacing: rem(-0.61);
  }
  &:last-child{
    margin-bottom: 0;
  }
  &:first-child{
    margin-top: 0;
  }
  &.green{
    color: #fff;
    background: $green;
  }
  &.red{
    color: #fff;
    background: $red;
  }
  &:hover{
    background: darken(#F5F5F5, 15%);
    &.green{
      background: darken($green, 15%);
    }
    &.red{
      background: darken($red, 15%);
    }
  }
  &.active{
    color: #fff;
    background: $text;
  }
}

.tableHeader{
  display: flex;
  align-items: center;
  padding: 18px $blockMargin 17px;
  border-bottom: 1px solid $border_gray;
  &_lc{
    font-size: rem(16);
    line-height: calc(19/16);
    letter-spacing: rem(-0.43);
    font-weight: bold;
  }
  &_rc{
    margin-left: auto;
    .link{
      margin-top: 2px;
    }
  }
}
table{
  td{
    &.green{
      color: $green;
    }
    &.red{
      color: $red;
    }
  }
}
table.tableType1{
  width: 100%;
  th{

  }
  td{
    padding: 10px 10px;
    border-bottom: 1px solid $border_gray;
    &:first-child{
      padding-left: $blockMargin;
    }
    &:last-child{
      padding-right: $blockMargin;
    }
  }
  tr{
    &:last-child{
      td{
        border-bottom: none;
      }
    }
  }
}


table.tableType2{
  width: 100%;
  text-align: left;
  td,th{
    padding: 7px 10px;
    &:first-child{
      padding-left: $blockMargin;
    }
    &:last-child{
      padding-right: $blockMargin;
    }
  }
  th{
    font-size: rem(15);
    line-height: calc(18/15);
    letter-spacing: rem(-0.4);
    color: $text_gray;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $border_gray;
  }
  td{
    padding: 7px 10px;
  }

}

.link{
  font-size: rem(14);
  line-height: calc(16/14);
  letter-spacing: rem(-0.37);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $text;
  cursor: pointer;
  &_ico{
    fill: $text;
    margin-right: 5px;
    width: 13px;
    height: 13px;
  }
  &_text{

  }
  &:hover{

  }
  &.green{
    color: $green;
    .link_ico{
      fill: $green;
    }
  }
}

.fileButton{
  background: #F0F0F0;
  font-size: rem(14);
  line-height: calc(16/14);
  letter-spacing: rem(-0.37);
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: $text;
  cursor: pointer;
  padding: 14px 38px;
  &_ico{
    fill: $text;
    margin-right: 10px;
    width: 13px;
    height: 13px;
  }
  &_text{

  }
  &:hover{
    background: darken(#F0F0F0, 15%);
  }
}

.grayDesc{
  font-size: rem(14);
  line-height: calc(16/14);
  letter-spacing: rem(-0.37);
  color: $text_gray;
}
b{
  font-weight: bold;
}