@import './../base.scss';

#indexPage{
  .row{
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    padding: 0 25px;
    box-sizing: border-box;
    .col{
      flex: 1 1 auto;
      margin: 0 8px;
    }
  }
  .row1{
    @include media("<=tablet") {
      flex-wrap: wrap;
    }
    .lc{
      width: 25%;
      background: #fff;
      position: relative;
      @include media("<=tablet") {
        width: 100%;
        margin-bottom: 20px;
      }
      .tableScroll{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        overflow: auto;
        @include media("<=tablet") {
          position: relative;
          max-height: 300px;
        }
        &::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
          background-color: #fff;
        }
        &::-webkit-scrollbar
        {
          width: 5px;
          height: 5px;
          background-color: $border_gray;
        }
        &::-webkit-scrollbar-thumb
        {
          background-color: $text;
          border: none;
        }
      }
    }
    .rc{
      width: 75%;
      background: #fff;
      padding-bottom: 10px;
      padding-top: 10px;
      .rc_innerRow{
        display: block;
      }
      .rc_innerRow1{
        padding: 0 14px;
      }
      .rc_innerRow2{
        display: flex;
        @include media("<=phone") {
          flex-wrap: wrap;
        }
      }
      input{
        font-size: rem(16);
        line-height: calc(19/16);
        letter-spacing: rem(-0.43);
        height: 36px;
      }
      .chooseIframe{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        flex-wrap: wrap;
        .chooseIframe_btn{
          user-select: none;
          padding: 9px 14px;
          flex: 0 1 auto;
          width: auto;
          margin: 0;
          font-size: rem(14);
          line-height: calc(16/14);
          letter-spacing: rem(-0.37);
          background: #f5f5f5;
          border-radius: 2px;
          cursor: pointer;
          margin-right: 15px;
          margin-bottom: 10px;
          &:last-child{
            margin-right: 0;
          }
          &:hover{
            background: darken(#f5f5f5, 15%);
          }
          &.active{
            background: $text;
            color: #fff;
          }
        }
      }
      .valuesBlock{
        text-align: center;
        display: flex;
        margin-left: -7px;
        margin-right: -7px;
        &_col{
          padding: 0 7px;
          flex: 1 1 50%;
          width: 50%;
          overflow: hidden;
          height: 100%;
          display: flex;
          flex-direction: column;
          border-radius: 2px;
        }
        &_lc{

        }
        &_rc{

        }
        &_item{
          background: #f2f2f2;
          padding-top: 9px;
          padding-bottom: 8px;
          &_name{
            font-size: rem(10);
            line-height: calc(11/10);
            letter-spacing: rem(-0.27);
            font-weight: bold;
            margin-bottom: 5px;
          }
          &_val{
            font-size: rem(16);
            line-height: calc(19/16);
            letter-spacing: rem(-0.43);
            font-weight: bold;
          }
          +.valuesBlock_item{
            border-top: 1px solid $border_gray;
          }
        }
        &_button{
          padding: 9px 0 8px;
          border: none;
          font-size: rem(16);
          line-height: calc(19/16);
          letter-spacing: rem(-0.43);
          color: #fff;
          border-radius: 2px;
          text-align: center;
          cursor: pointer;
        }
        .valuesBlock_col.green{
          .valuesBlock_item_val{
            color: $green;
          }
          .valuesBlock_button{
            background: $green;
            &:hover{
              background: darken($green, 15%);
            }
          }
        }
        .valuesBlock_col.red{
          .valuesBlock_item_val{
            color: $red;
          }
          .valuesBlock_button{
            background: $red;
            &:hover{
              background: darken($red, 15%);
            }
          }
        }
      }
      .footnote{
        margin-top: 20px;
        color: #A3A3A3;
        font-size: rem(12);
        line-height: calc(14/12);
        letter-spacing: rem(-0.48);
      }
      .innerCol{
        &.innerCol_lc{
          padding: 0 14px;
          flex: 1 1 72%;
          @include media("<=phone") {
            width: 100%;
            flex: 1 1 100%;
          }
        }
        &.innerCol_rc{
          margin-top: 20px;
          flex: 1 1 28%;
          width: 28%;
          padding: 0 15px;
          @include media("<=phone") {
            width: 100%;
            flex: 1 1 100%;
          }
        }
      }


      .iframeWrapper{
        width: 100%;
        height: 430px;
        position: relative;
        //&:after{
        //  content: '';
        //  display: block;
        //  width: 100%;
        //  padding-top: 52%;
        //}
        //iframe{
        //  position: absolute;
        //  left: 0;
        //  top: 0;
        //}
      }
    }
  }

  .row2{
    margin-top: 20px;
    @include media("<=tablet") {
      flex-wrap: wrap;
    }
    .lc,.rc{
      height: 550px;
    }
    .tableScroll{
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: auto;
      &::-webkit-scrollbar-track
      {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        background-color: #fff;
      }
      &::-webkit-scrollbar
      {
        width: 5px;
        height: 5px;
        background-color: $border_gray;
      }
      &::-webkit-scrollbar-thumb
      {
        background-color: $text;
        border: none;
      }
    }
    .col{
      @include media("<=tablet") {
        width: 100%;
        flex: 1 1 100%;
        max-height: 300px;
      }
    }
    .lc{
      background: #fff;
      position: relative;
      @include media("<=tablet") {
        margin-bottom: 20px;
      }
    }
    .rc{
      background: #fff;
      position: relative;
    }
  }
}
