@import './../base.scss';

#registrationPage{
  max-width: 918px;
  margin: 0 auto;
  .tabsBlock{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    .tab{
      font-size: rem(40);
      line-height: calc(47/40);
      letter-spacing: rem(-1.07);
      padding: 9px 0px 9px;
      color: #8E8E8E;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      margin-right: 60px;
      &:last-child{
        margin-right: 0;
      }
      &.active{
        color: $text;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 4px;
          display: block;
          background: $text;
        }
      }
    }
  }
  .stepBlock{
    background: #fff;
    margin-bottom: 20px;
    .field{
      margin-top: 20px;
      margin-bottom: 30px;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    &_title{
      padding: 16px 20px;
      border-bottom: 1px solid $border_gray;
      display: flex;
      align-items: center;
      font-weight: 500;
      .num{
        display: inline-flex;
        width: 28px;
        height: 28px;
        box-sizing: border-box;
        color: #fff;
        align-items: center;
        justify-content: center;
        background: $text;
        border-radius: 100%;
        margin-right: 10px;
        padding-top: 2px;
      }
      .name{
        font-weight: 500;
        font-size: rem(20);
        line-height: calc(24/20);
        letter-spacing: rem(-0.53);
      }
    }
    &_content{
      overflow: hidden;
      padding: 30px 20px 40px;
    }
  }
}