@import './../base.scss';

#startPage{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: #001A3E url("../../images/startPageBg.png") no-repeat center center;
  background-size:  cover;
  .header{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 40px 20px;
    .lc{

    }
    .rc{
      margin-left: auto;
    }
    .logo{
      text-transform: uppercase;
      font-size: rem(30);
      letter-spacing: rem(4.2);
      line-height: calc(35/30);
      color: #fff;
    }
    .loginButton{
      cursor: pointer;
      font-size: rem(18);
      line-height: calc(21/18);
      color: $text;
      margin-left: auto;
      background: #fff;
      border: 1px solid #979797;
      box-sizing: border-box;
      padding: 15px 60px 14px 60px;
      &:hover{
        background: darken(#fff, 15%)
      }
    }
  }
}