@import './../base.scss';

#verificationPage{
  max-width: 918px;
  margin: 0 auto;
  .tabsBlock{
    background: #fff;
    margin-bottom: 17px;
    display: flex;
    align-items: center;
    .tab{
      font-size: rem(18);
      line-height: calc(21/18);
      letter-spacing: rem(-0.48);
      padding: 21px 39px 18px;
      text-transform: uppercase;
      color: #A0A0A0;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      &.active{
        color: $text;
        &:after{
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          display: block;
          background: $text;
        }
      }
    }
  }
  .stepBlock{
    background: #fff;
    margin-bottom: 20px;
    .field{
      margin-top: 20px;
      margin-bottom: 30px;
      &:first-child{
        margin-top: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    &_title{
      padding: 16px 20px;
      border-bottom: 1px solid $border_gray;
      display: flex;
      align-items: center;
      .num{
        display: inline-flex;
        width: 28px;
        height: 28px;
        box-sizing: border-box;
        color: #fff;
        align-items: center;
        justify-content: center;
        background: $text;
        border-radius: 100%;
        margin-right: 10px;
        padding-top: 2px;
      }
      .name{
        font-weight: 500;
        font-size: rem(20);
        line-height: calc(24/20);
        letter-spacing: rem(-0.53);
      }
    }
    &_content{
      overflow: hidden;
      padding: 30px 20px 30px;
    }
  }
  .stepBlock3{
    .custom-checkbox{
      label{
        margin-top: 2px;
        color: #8B8B8B;
        font-size: rem(14);
        line-height: calc(18/14);
        letter-spacing: (-0.43);
      }
    }
  }

}