<div class="stepBlock stepBlock3">
    <div class="stepBlock_title">
        <div class="num">
            3
        </div>
        <div class="name">
            DECLARATION OF THE BENEFICIAL OWNER (A)
        </div>
    </div>
    <div class="stepBlock_content">
        <div class="field">
            <div class="fieldTitle">Beneficial owner</div>
            <div class="custom-radioboxWrapper">
                <div class="custom-radiobox">
                    <input id="i-hereby-confirm" checked type="radio" name="beneficial-owner">
                    <div class="box">
                        <div class="dot"></div>
                    </div>
                    <label for="i-hereby-confirm">I hereby confirm that I am the beneficial owner of the assets involved in the business relationship;</label>
                </div>
            </div>
            <div class="custom-radioboxWrapper">
                <div class="custom-radiobox">
                    <input id="i-hereby-declare" checked type="radio" name="beneficial-owner">
                    <div class="box">
                        <div class="dot"></div>
                    </div>
                    <label for="i-hereby-declare">I hereby declare that the person(s) listed below is/are the beneficial owner(s) of the assets involved</label>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="inputBlock">
                <div class="inputBlock_name">
                    Full Name (1)
                </div>
                <input placeholder="0" type="text">
                <div class="notice"></div>
            </div>
        </div>
        <div class="field">
            <div class="fieldTitle">
                Residential address (1)
            </div>
            <textarea name="qwe" id="qwe" placeholder="Address"></textarea>
        </div>
        <div class="field row">
            <div class="col col50">
                <div class="inputBlock">
                    <div class="inputBlock_name">
                        Date of birth (1)
                    </div>
                    <input placeholder="0" type="text">
                    <div class="notice"></div>
                </div>
            </div>
            <div class="col col50">
                <div class="inputBlock">
                    <div class="inputBlock_name">
                        Nationality (1)
                    </div>
                    <input placeholder="0" type="text">
                    <div class="notice"></div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="inputBlock">
                <div class="inputBlock_name">
                    Full Name (2)
                </div>
                <input placeholder="0" type="text">
                <div class="notice"></div>
            </div>
        </div>
        <div class="field">
            <div class="fieldTitle">
                Residential address (2)
            </div>
            <textarea name="qwe" id="qwe" placeholder="Address"></textarea>
        </div>
        <div class="field row">
            <div class="col col50">
                <div class="inputBlock">
                    <div class="inputBlock_name">
                        Date of birth (2)
                    </div>
                    <input placeholder="0" type="text">
                    <div class="notice"></div>
                </div>
            </div>
            <div class="col col50">
                <div class="inputBlock">
                    <div class="inputBlock_name">
                        Nationality (2)
                    </div>
                    <input placeholder="0" type="text">
                    <div class="notice"></div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="custom-checkboxWrapper">
                <div class="custom-checkbox">
                    <input id="herewith" checked type="checkbox" name="qweqwe1">
                    <div class="box">
                        <div class="tick"></div>
                    </div>
                    <label for="herewith">I herewith confirm that the above-mentioned information is correct.</label>
                </div>
            </div>
            <div class="custom-checkboxWrapper">
                <div class="custom-checkbox">
                    <input id="hereby" checked type="checkbox" name="qweqwe1">
                    <div class="box">
                        <div class="tick"></div>
                    </div>
                    <label for="hereby">I hereby declare that I am not, nor have I at any time been, involved in any criminal or money laundering activities and that the funds are not derived from any illegal activities.
                        I further declare that to the best of my knowledge and belief, the information given by me regarding the source of funds is true and accurate and all funds, financial instruments and or precious metals are free of all claims, debts, loans and lawsuits, contingent liabilities, such as indemnities or guarantees and have not been derived directly or indirectly from any act or omission that may constitute an offence or as a result of or in connection with any criminal conduct.
                        I also confirm that any taxation due on the funds has been paid as legally required.
                        I understand and consent that the information held by you may be disclosed to law enforcement authorities where required by Court Order or other applicable law.
                        At the same time, I release Ammer Capital AG, its employees and its respective partners and successors and assigns (collectively the "Released Parties") of and from all claims, causes of action, suits, liabilities, debts, covenants and demands of every kind whatsoever, that I may now have, ever had or ever may have against any Released Party by reason of any matter or cause whatsoever arisen at any time on or prior to the signing of this document.</label>
                </div>
            </div>
        </div>
    </div>
</div>