<div class="stepBlock">
    <div class="stepBlock_title">
        <div class="num">
            2
        </div>
        <div class="name">
            FINANCIAL INFORMATION
        </div>
    </div>
    <div class="stepBlock_content">
        <div class="field">
            <div class="inputBlock">
                <div class="inputBlock_name">
                    Current profession
                </div>
                <input placeholder="0" type="text">
                <div class="notice"></div>
            </div>
        </div>
        <div class="field">
            <div class="row">
                <div class="col colAuto">
                    <div class="fieldTitle">
                        Employment status
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r1" id="employed" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="employed">employed</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r1" id="self-employed" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="self-employed">self-employed</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r1" id="retired" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="retired">retired</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r1" id="privateer" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="privateer">privateer</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r1" id="unemployed" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="unemployed">unemployed</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r1" id="stay-at-home-partner" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="stay-at-home-partner">stay at home partner</label>
                        </div>
                    </div>
                </div>
                <div class="col colAuto">
                    <div class="fieldTitle">Origin of assets and incoming funds</div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r2" id="personal-wealth" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="personal-wealth">personal wealth</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r2" id="employment-income" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="employment-income">employment income</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r2" id="inheritance-donation" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="inheritance-donation">inheritance / donation</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r2" id="other" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="other">other</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r2" id="stock-exchange-transactions" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="stock-exchange-transactions">stock exchange transactions</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r2" id="divestments" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="divestments">divestments (real estate, company sales, etc.)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col colAuto">
                    <div class="fieldTitle">
                        Annual income
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r3" id="CHF-100000-less" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="CHF-100000-less">CHF 100’000 (or less)</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r3" id="CHF-100000–500000" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="CHF-100000–500000">CHF 100’000 – 500’000</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r3" id="CHF-100000–1000000" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="CHF-100000–1000000">CHF 500’000 – 1’000’000</label>
                        </div>
                    </div>
                    <div class="custom-radioboxWrapper">
                        <div class="custom-radiobox">
                            <input name="s2r3" id="CHF-1000000-more" checked type="radio">
                            <div class="box">
                                <div class="dot"></div>
                            </div>
                            <label for="CHF-1000000-more">CHF 1’000’000 (or more)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>