<div class="stepBlock">
    <div class="stepBlock_title">
        <div class="num">
            1
        </div>
        <div class="name">
            Personal details
        </div>
    </div>
    <div class="stepBlock_content">
        <div class="field">
            <div class="row">
                <div class="col col50">
                    <div class="inputBlock">
                        <div class="inputBlock_name">
                            Full name
                        </div>
                        <input placeholder="0" type="text">
                        <div class="notice"></div>
                    </div>
                </div>
                <div class="col col50">
                    <div class="inputBlock">
                        <div class="inputBlock_name">
                            Your e-mail
                        </div>
                        <input placeholder="0" type="text">
                        <div class="notice"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="row">
                <div class="col col33">
                    <div class="fieldTitle">Passport or ID copy</div>
                    <div class="fileButton">
                        <svg class="fileButton_ico">
                            <use xlink:href="#upload_ico"/>
                        </svg>
                        <div class="fileButton_text">
                            Choose a file
                        </div>
                    </div>
                </div>
                <div class="col col33">
                    <div class="fieldTitle">Utility bill</div>
                    <div class="fileButton">
                        <svg class="fileButton_ico">
                            <use xlink:href="#upload_ico"/>
                        </svg>
                        <div class="fileButton_text">
                            Choose a file
                        </div>
                    </div>
                </div>
                <div class="col col33">
                    <div class="fieldTitle">CV</div>
                    <div class="fileButton">
                        <svg class="fileButton_ico">
                            <use xlink:href="#upload_ico"/>
                        </svg>
                        <div class="fileButton_text">
                            Choose a file
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="fieldTitle">
                PEP status
            </div>
            <div class="grayDesc">
                To make a USD deposit, please send funds to the<br />
                account with the following banking details:
            </div>
            <div class="custom-radioboxWrapper">
                <div class="custom-radiobox">
                    <input id="1" checked type="radio" name="contact">
                    <div class="box">
                        <div class="dot"></div>
                    </div>
                    <label for="1">No</label>
                </div>
            </div>
            <div class="custom-radioboxWrapper">
                <div class="custom-radiobox">
                    <input id="2" type="radio" name="contact">
                    <div class="box">
                        <div class="dot"></div>
                    </div>
                    <label for="2">Yes</label>
                </div>
            </div>
        </div>
    </div>
</div>